<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827407145753-1p3hbd977vlbj04a8kqgk4b7k74jhok3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827407145753-1p3hbd977vlbj04a8kqgk4b7k74jhok3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>827407145753-2eiro8t16k4chgg91obopsas4cid5p0l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZrn6m64p2fyw6TYqLaiPJfEoq2w7ksTc</string>
	<key>GCM_SENDER_ID</key>
	<string>827407145753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.epiccorp.one.staging</string>
	<key>PROJECT_ID</key>
	<string>epicone-88e1f</string>
	<key>STORAGE_BUCKET</key>
	<string>epicone-88e1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827407145753:ios:d84dc2127a5b81dea48388</string>
</dict>
</plist>